
<app-header></app-header>

  <div class="container">
    <div class="logo">
        <img src="../../../assets/resources/slogan.png" alt="Logo">
    </div>
    <div class="info">
        <h2>¿Quienes somos?</h2>
        <p>
          Nuestra misión es conectar a personas compasivas con santuarios que necesitan ayuda, 
          brindándoles la oportunidad de donar y contribuir a un futuro mejor para las mascotas.
        </p>
        <button type="button" [routerLink]="['/post/viewPosts']" class="btn btn-outline-dark">Comencemos</button>
    </div>
  </div>

<app-footer></app-footer>

