<app-navbar-user></app-navbar-user>

<div class="container mt-5 mb-5">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-8">
                    <div class="img">
                        <img src="../../../assets/resources/slogan.png" width="300px">
                    </div>
                    <div class="mt-3 m-5">
                        <h4> Bienvenido a Furever Funding, {{user.name + ' ' +user.lastname}} </h4>
                    </div>

                    <div class="row m-5 ">
                        <div class="col-xl-6 col-lg-6 mt-5">
                            <!-- Card para Usuario Creador -->
                            <div class="card l-bg-blue-dark ">
                                <div class="card-statistic-3 p-4">
                                    <div class="card-icon card-icon-large"><i class="fas fa-users"></i></div>
                                    <div class="mb-4">
                                        <h5 class="card-title mb-0">Usuario Creador </h5>
                                    </div>
                                    <div class="row align-items-center mb-2 d-flex ">
                                        <div class="col-9">
                                            <h2 class="d-flex align-items-center justify-content-center mb-0">
                                                {{userCreator}}
                                            </h2>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mt-5">
                            <!-- Card para Usuario Donador -->
                            <div class="card l-bg-green-dark ">
                                <div class="card-statistic-3 p-4">
                                    <div class="card-icon card-icon-large"><i class="fas fa-users"></i></div>
                                    <div class="mb-4">
                                        <h5 class="card-title mb-0">Usuario Donador </h5>
                                    </div>
                                    <div class="row align-items-center mb-2 d-flex ">
                                        <div class="col-9">
                                            <h2 class="d-flex align-items-center justify-content-center mb-0">
                                                {{userDonor}}
                                            </h2>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-lg-4 mt-5">
                    <div class="img_perfil">
                        <img src="https://cdn-icons-png.flaticon.com/512/666/666201.png" width="100px">
                    </div>

                    <div class="img_perfil mt-5">
                        <img src="../../../assets/resources/icon2.png" width="180px">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>